body{
    font-family: 'Montserrat', sans-serif;
    background-color: antiquewhite;
}

div.container#app{
    min-width: 960px;
    margin: 50px auto;
}

div.container#app .row{
    background-color: white;
}

#contact-list img, 
#chat-list li img, 
#chat img{
    height: 50px;
}

.my-bg-gray{
    background-color: #eaeaea;
}

.my-bg-light-blue{
    background-color: #8edafc;
}

.my-color-light-blue{
    color: #8edafc;
}

#logo-notifica{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
}

#chat-list li{
    list-style: none;
    border-top: 1px solid #eaeaea;
}

#chat-list li.active{
    background-color: #eaeaea;
}

#chat-list li:hover{
    background-color: #eaeaea;
}

#chat h5, 
#chat-list h5{
    font-size: 15px;
}

#chat h6, 
#chat-list h6{
    font-size: 12px;
    color: gray;
}

#contact-list header{
    border-right: 1px solid rgb(210, 210, 210);
}

#contact-list header, 
#chat header{
    height: 70px;
}

#chat main{
    height: calc(100% - 130px);
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

#chat #reply-box{
    height: 60px;
}