body{
    font-family: 'Montserrat', sans-serif;
    background-color: antiquewhite;
}

div.container{
    min-width: 960px;
    margin: 50px auto;
}

h5{
    font-size: 15px;
}

h6{
    font-size: 12px;
    color: gray;
}

img{
    height: 50px;
}

ul{
    overflow-y: scroll;
    background-color: white;
}

ul li{
    list-style: none;
    border-top: 1px solid #eaeaea;
    cursor: pointer;
}

ul li.active{
    background-color: #eaeaea;
}

ul li:hover{
    background-color: #eaeaea;
}

section#contact-list header{
    border-right: 1px solid rgb(210, 210, 210);
}

section#contact-list header, 
section#chat header{
    height: 70px;
}

section#chat main{
    height: calc(100% - 130px);
    background-image: url(../img/mine.jpg);
}

section#chat div#reply-box{
    height: 60px;
}

#logo-notifica{
    width: 50px;
    height: 50px;
    background-color: white;
}

.my-bg-gray{
    background-color: #eaeaea;
}

.my-bg-light-blue{
    background-color: #8edafc;
}

.my-color-light-blue{
    color: #8edafc;
}

.sender {
    float: right ;
    background: #dcf8c6;
    border-radius: 10px 10px 0 10px;
    padding: 4px 10px 7px;
}

.receiver {
    padding: 4px 10px 7px ;
    border-radius: 10px 10px 10px 0;
    background: #ffffff;
    display: inline-block
}